body {
  padding: 0;
}  
ul.nav {
  padding-top: 10px;
}
ul.nav li:first-child a {
  margin-left: 10px;
}
.item {
  float: left;
  width: 420px;
  margin: 20px;
  text-align: center;
  border: 1px solid;
}
.item h1 {
  width: 420px;
  overflow: hidden;
}
div.tab {
  display: none;
}
div.active {
  display: block;
}
p.loading {
  margin-top: 20px;
  padding-top: 50px;
  text-align: center;
  background: transparent url('tool-loader.gif') center top no-repeat;
  color: #666;
  font-size: 20px;
}
b {
  font-weight: inherit;
  background-color: #ff9;
  padding: 3px 6px;
}
.lead {
  margin-bottom: 14px;
}
.collage {
  padding-bottom: 10px;
}
.collage img {
  width: 84px;
}
#bugs {
  position: absolute;
  right: 20px;
  top: 12px;
}
