.item {
  margin: 10px;
  float: left;
  text-align: center;
}
div.tab {
  display: none;
}
div.active {
  display: block;
}
p.loading {
  margin-top: 20px;
  padding-top: 50px;
  text-align: center;
  background: transparent url('tool-loader.gif') center top no-repeat;
  color: #666;
  font-size: 20px;
}
.pull-center {
  text-align: center;
}
b {
  font-weight: inherit;
  background-color: #ff9;
  padding: 3px 6px;
}

