body {
  padding: 0;
  background-color: #f3f3f3;
}  
ul.nav {
  padding-top: 10px;
  background-color: white;
}
ul.nav li:first-child a {
  margin-left: 10px;
}
.item {
  float: left;
  width: 420px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 6px #ccc;
}
.item h1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 32px;
  line-height: 32px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
div.tab {
  display: none;
}
div.active {
  display: block;
}
.nav {
  margin-bottom: 0;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
  background-color: #f3f3f3;
}
p.loading, p.waiting {
  margin-top: 20px;
  padding-top: 70px;
  text-align: center;
  font-size: 20px;
  background: white url('tool-loader.gif') center 20px no-repeat;
}
b {
  font-weight: inherit;
  background-color: #ff9;
  padding: 3px 6px;
}
.lead {
  margin-bottom: 14px;
}
.collage {
  padding-bottom: 10px;
}
.collage img {
  width: 84px;
}
#bugs {
  position: absolute;
  right: 10px;
  top: 10px;
}
.table td.numeric {
 /* text-align: right */
}
